body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  padding-top: 30px;
}

.list {

}

.item {
  margin-bottom: 20px;
}

.item:last-child {
  margin-bottom: 0;
}

.item-heading {
  text-align: left;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  transition: all .2s ease-in-out;
  box-shadow: 0 0 0px #00000021;
}

.item-heading:hover,
.item-heading.active {
  box-shadow: 0 0 16px #00000021;
}

.item-heading h2 {
  margin: 0;
}

.item-heading .item-actions__btn-group {
  margin-left: auto;
  margin-right: 15px;
}

.item-city-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.item-city-info__inputs {
  flex-basis: 100%;
  padding-right: 20px;
  display: flex;
}

.item-city-info__col {
  margin-right: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.item-city-info__col:last-child {
  margin-right: 0;
}

.item-city-info__col .title {
  margin-bottom: 4px;
  display: inline-block;
}

.item-city-info__btns {
  display: flex;
}

.item-city-info__btn {
  margin-left: 15px;
  justify-content: flex-end;
}

.item-city-info__btn:last-child {
  margin-right: 0;
}

.item-wrap {
  /* display: none; */
}

.item-wrap.hide {
  display: none;
}

.item-btn {}

.item-inner {}

.item-content {
  padding: 0 15px;
}

.item-content-block {
  text-align: left;
}

.item-content-block p {

}

.item-group {
  display: flex;
  flex-direction: column;
}

.item-group_inline {
  flex-direction: row;
  align-items: center;
}

.item-group_inline .item-group-label {
  margin-bottom: 0;
  margin-right: 20px;
}

.item-group_inline .item-group-input {
  max-width: 100%;
}

.item-group-label {
  margin-bottom: 5px;
}

.item-group-input {
  max-width: 300px;
}

.item-actions {
  padding: 5px 15px;
  border-top: 1px solid #0000003b;
  display: flex;
  justify-content: space-between;
}

.item-actions__btn-group {
  display: flex;
}

.item-actions__btn {
  margin-left: 15px;
}

.item-actions__btn:first-child {
  margin-left: 0;
}